# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# serverless
.serverless/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
*.js
*.jsx
*.d.ts
!jest.config.cjs
!next.config.js
!next-env.d.ts

# IntelliJ
.idea/

# Compiled source code for jest unit testing
tests/.build/

# Cypress testing
tests/cypress/downloads/
tests/cypress/screenshots/
tests/cypress/videos/
