.container {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    height: 14em;
    display: flex;
    flex-direction: row;
}

.container.disabled {
}

.card {
    font-size: 4em;
    width: 3ch;
    color: white;
    margin: 0.15em;
    padding: 0.2em;
    height: 10em;
    border-radius: 0.2em;
    background: var(--palette-grey-main);
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: background-color, padding, transform;
    transition-duration: 0.25s;
}

.card:hover {
    background: var(--palette-grey-dark);
    transform: translateY(-5%);
}

.container.disabled .card {
    padding: 0;
    background: var(--palette-grey-light);
    transform: translateY(4%);
    cursor: not-allowed;
}

.container.disabled .card:hover {
    transform: translateY(4%);
}

.card.selected {
    color: var(--palette-green-main);
}

.card.submitting {
    cursor: wait;
}

.spinner {
    filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(5227%) hue-rotate(179deg) brightness(114%)
        contrast(100%);
}
