.container {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.container.disabled {
}

.card {
    width: 3ch;
    height: 1.6em;
    margin: 0.15em 0.15em 0;
    padding: 0.2em;
    border-radius: 0.2em 0.2em 0 0;
    font-size: 4em;
    color: white;
    background: var(--palette-grey-main);
    text-align: center;
    cursor: pointer;
    user-select: none;
    transition-property: background-color, height, padding;
    transition-duration: 0.25s;
}

.card:hover {
    height: 2.2em;
    background: var(--palette-grey-dark);
}

.container.disabled .card {
    height: 1.2em;
    padding: 0;
    background: var(--palette-grey-light);
    cursor: not-allowed;
}

.card.selected {
    color: var(--palette-green-main);
}

.card.submitting {
    cursor: wait;
}

.spinner {
    filter: brightness(0) saturate(100%) invert(100%) sepia(18%) saturate(5227%) hue-rotate(179deg) brightness(114%)
        contrast(100%);
}
