.container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-top: 0.6em;
    padding: 1em;
    border-radius: 1em;
    color: white;
    background-color: var(--palette-green-main);
    text-align: center;
}

.container.tied {
    background-color: var(--palette-yellow-main);
}

.container strong {
    font-size: 1.2em;
}

.container.tied strong {
    font-size: 1.2em;
}

.title {
    margin: 0;
}

.result {
    font-size: 4em;
}

.votes {
}
