.container {
}

.overlay {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 0.35s;
}

.content {
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background-color: white;
    border-radius: 1em;
    font-size: 1em;
    padding: 0.6em;
    width: 400px;
    max-width: 90vw;
    height: fit-content;
    box-shadow:
        0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 1em 2em 0 rgba(0, 0, 0, 0.19);
    animation: frombottom 0.35s;
    transition:
        border-left-color 0.2s,
        border-right-color 0.2s;
    text-align: center;
}

.hidden {
    display: none;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0.6em;
}

.controls.single {
    justify-content: center;
}

.control {
    width: fit-content;
    margin: 0;
    border-radius: 0.6em;
    font-size: 1.2em;
}

.icon {
    height: 1em;
    width: fit-content;
}

.field {
    display: flex;
    flex-direction: column;
}

.label {
    margin-bottom: 0.4em;
}

.input {
    width: 100%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes frombottom {
    from {
        top: 110%;
    }
    to {
        top: 50%;
    }
}

@media only screen and (max-width: 300px) {
    .control {
        font-size: 1em;
    }
}

@media only screen and (max-width: 250px) {
    .control {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 200px) {
    .control {
        font-size: 0.7em;
    }
}
