.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.invite {
    margin-top: -0.2em;
}

.table {
    height: fit-content;
    margin: 1em;
}

.count {
    font-size: 1.4em;
    color: white;
    background-color: var(--palette-grey-main);
    border-radius: 4em;
    padding: 0.5em 1em;
}

.reveal {

}

.reset {

}

.players {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: fit-content;
    max-width: 80vw;
    padding: 1em;
}

.player {
    width: 8em;
    height: fit-content;
    margin: 0.5em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.6em;
    background: var(--palette-blue-main);
    color: white;
    text-align: center;
    white-space: nowrap;
}

.player.current {
    color: var(--palette-green-main);
    box-shadow:
            var(--palette-green-light) 1px 1px 1.6pt 1.6pt,
            var(--palette-green-light) -1px 1px 1.6pt 1.6pt,
            var(--palette-green-light) 1px -1px 1.6pt 1.6pt,
            var(--palette-green-light) -1px -1px 1.6pt 1.6pt;
}

.display {
    font-size: 1.4em;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
}

.player.current .display {
    filter: brightness(125%);
}

.choice {
    margin-top: 1vw;
}

.choice.revealed {
    font-size: 2em;
    font-weight: bold;
}

.player.current .choice {
    filter: brightness(125%);
}

.icon {
    height: 2em;
}

.host {
    background: var(--palette-yellow-light);
}

.hand {
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    height: 14em;
    display: flex;
    flex-direction: row;
}

.card {
    font-size: 4em;
    width: 3ch;
    color: white;
    margin: 1vw;
    padding: 1vw;
    height: 10em;
    border-radius: 0.5vw;
    background: var(--palette-grey-main);
    text-align: center;
    cursor: pointer;
    transition: background-color 0.25s, height 0.25s;
}

.card:hover {
    background: var(--palette-grey-dark);
    height: 14em;
    transform: translateY(-5%);
}

.card.selected {
    color: var(--palette-green-main);
}
