.container {
}

.wrapper {
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: auto;
    width: 70%;
    padding-bottom: 14vh;
}

.join {
    display: flex;
    flex-direction: column;
}
